<div class="hero">
  <div class="container">
    <h1>Contact</h1>
    <p class="lead">
      Get in touch
    </p>
  </div>
</div>
<div class="container">
<!--
   <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="contactName">Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="contactName" placeholder="Bruce Wayne">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="contactEmail">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="contactEmail" placeholder="bruce@wayneindustries.com">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
-->
  <ul class="contact-list">
    <li><span class="fa fa-envelope-square"></span> <a href="mailto:cameron@wortlehock.net">Email</a></li>
    <li><span class="fa fa-linkedin-square"></span> <a href="https://www.linkedin.com/pub/cameron-wortlehock/48/bb5/9b1">LinkedIn</a></li>
    <li><span class="fa fa-twitter-square"></span> <a href="https://twitter.com/cameronrw">Twitter</a></li>
  </ul>
</div>
